.about {
  padding: 80px 10%;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 40px;
  background: #020617;
  color: #38bdf8;
  align-items: center;
}

.about-left img {
  width: 280px;
  border-radius: 16px;
}

.about-right h2 {
  margin-bottom: 20px;
}

.about-right p {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #cbd5f5;
}

/* Responsive */
@media (max-width: 900px) {
  .about {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-left img {
    margin: auto;
  }
}
