.home {
  min-height: 70vh;
  padding: 80px 10%;   /* pehle 120px tha */
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 40px;
  background: #020617;
  color: #e5e7eb;
  align-items: center;
}


.home-left h1 {
  font-size: 42px;
}

.home-left h1 span {
  color: #38bdf8;
}

.home-left h2 {
  margin: 10px 0;
  color: #94a3b8;
}

.home-left p {
  margin: 20px 0;
  max-width: 500px;
  line-height: 1.6;
  color: #cbd5f5;
}

.home-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 22px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

.primary {
  background: #38bdf8;
  color: #020617;
}

.outline {
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

.home-right img {
  width: 300px;
  border-radius: 50%;
  border: 4px solid #38bdf8;
}


