.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 8%;
  background: #020617;
  color: #fff;
  flex-wrap: wrap;
}

/* LEFT */
.home-left {
  flex: 1;
  min-width: 300px;
}

.home-left h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.home-left h1 span {
  color: #38bdf8;
}

.home-left h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #94a3b8;
}

.home-left p {
  max-width: 500px;
  line-height: 1.6;
  margin-bottom: 25px;
}

/* BUTTONS */
.home-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.btn {
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.btn.primary {
  background: #2563eb;
  color: white;
}

.btn.outline {
  border: 2px solid #2563eb;
  color: #2563eb;
}

.btn:hover {
  transform: translateY(-3px);
}
/* Animation */
.hidden {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

/* RIGHT IMAGE */
.home-right {
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 300px;
}

.home-right img {
  width: 300px;
  border-radius: 20px;
  object-fit: cover;
}

/* 📱 MOBILE FIX */
@media (max-width: 768px) {
  .home {
    flex-direction: column-reverse;
    text-align: center;
  }

  .home-right img {
    width: 220px;
    margin-bottom: 20px;
  }
}
