.projects {
  padding: 80px;
  max-width: 1100px;
  margin: auto;
  color :#38bdf8;
}

.projects h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}

.project-card {
  background: #020617;
  border: 1px solid #1f2933;
  border-radius: 18px;
  padding: 26px;
  transition: 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
  border-color: #38bdf8;
  box-shadow: 0 10px 30px rgba(56,189,248,0.15);
}

.project-card h3 {
  color: #38bdf8;
  margin-bottom: 14px;
}

.project-card p {
  font-size: 0.95rem;
  color: #cbd5f5;
  margin-bottom: 10px;
  line-height: 1.5;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 14px 0;
}

.tech span {
  background: rgba(56,189,248,0.15);
  color: #38bdf8;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.75rem;
}

.project-links {
  margin-top: 14px;
  display: flex;
  gap: 18px;
}

.project-links a {
  color: #38bdf8;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
}
