.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}


html {
  scroll-behavior: smooth;
}

.section {
  min-height: 100vh;
  padding: 120px 40px;
  background: #111;
  color: white;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  section {
    padding: 20px 12px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .cert-row,
  .project-row {
    flex-direction: column;
    align-items: center;
  }
}
