.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}


html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

section {
  max-width: 1100px;
  margin: auto;
  padding: 70px 20px;
}

@media (max-width: 768px) {
  section {
    padding: 45px 15px;
  }
}

@media (max-width: 768px) {
  section {
    padding: 20px 12px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .cert-row,
  .project-row {
    flex-direction: column;
    align-items: center;
  }
}
