* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

main {
  width: 100%;
}

/* Section container */
section {
  max-width: 1200px;
  margin: auto;
  padding: 80px 20px;
}

/* Tablet */
@media (max-width: 992px) {
  section {
    padding: 60px 18px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  section {
    padding: 40px 15px;
  }
}
